@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<ApplicationUser>

@if (Model != null && Model.Any())
{
    <div class="container mt-5">
        @if(TempData["MessageSuccess"] != null)
        {
            <div class="alert alert-light text-success border-success rounded mt-5" role="alert">
                @TempData["MessageSuccess"]
            </div>
        }
        @if (TempData["MessageError"] != null)
        {
            <div class="alert alert-light text-danger border border-danger rounded mt-5" role="alert">
                @TempData["MessageError"]
            </div>
        }
        <h1 class="text-center pb-5">Usuários</h1>
        <div class="table-responsive">
            <table class="MyDataTables table table-white table-hover mt-5">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.Surname</td>                           
                            <td>
                                <a asp-controller="AdminUser" asp-action="InfoUser" asp-route-id="@user.Id" class="btn btn-sm  btn-info m-2">Detalhes</a>
                            </td>
                            <td>
                                <a asp-controller="AdminUser" asp-action="UpdateRole" asp-route-id="@user.Id" class="btn btn-sm btn-warning m-2">Redefinir privilégio</a>
                            </td>
                            <td>
                                <a asp-controller="AdminUser" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger m-2">Excluir</a>
                            </td>                                                
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary mx-2 m-2">Voltar</a>
    </div>    
}
else
{
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <h1 class="pt-5 text-center">Não há usuáios na aplicação.</h1>
    <meta http-equiv="refresh" content="4;url=/Admin">
}
   




