@using Domain.Enums;
@using X.PagedList.Mvc.Core
@using X.PagedList
@using Domain.Entities
@using X.PagedList.Web.Common;
@model IPagedList<Produtos>

@* Carrosel *@
<div id="carouselExampleIndicators" class="carousel slide mt-3">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/mark-konig-Tl8mDaue_II-unsplash.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
            <img src="~/images/mark-konig-Tl8mDaue_II-unsplash.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
            <img src="~/images/mark-konig-Tl8mDaue_II-unsplash.jpg" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* Pesquisa pelo nome e categoria *@
<div class="ms-5 d-flex col-8 col-md-6 mt-3  ">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle custom-link bg-light text-dark border-0 " data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
        </button>
        <ul class="dropdown-menu">
            @foreach (var category in Enum.GetValues(typeof(ProductsCategoryEnum)))
            {
                <li><a class="dropdown-item" href="Produtos?category=@category">@category</a></li>
            }
        </ul>
    </div>
   
    <form class="d-flex col-8  ms-3" role="search" asp-action="Index" method="get">
        <input class="form-control me-2" name="SearchString" type="search" placeholder="Buscar produtos" aria-label="Search" value="@ViewData["CurrentFilter"]">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
 

<div asp-validation-summary="ModelOnly" class="alert alert-light text-danger border border-danger rounded mt-2" role="alert"></div>

@if (Model != null && Model.Any())
{
     <div class="container">
        <div class="row flex-wrap">             
            @foreach (var produto in Model)
            {                
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-streach mt-5 ">
                    <div class="card text-center bg-white mx-auto" style="width: 15rem;">
                        <form asp-controller="Produtos" asp-action="Details" method="get">
                            <input type="hidden" name="id" value="@produto.ID" />
                            <button type="submit" style="background: none; border: none; padding: 0;">
                                <img src="~/images/@produto.PathImage" class="card-img p-2" />
                            </button>
                        </form>
                        <div class="card-body text-start ">
                            <form asp-controller="Produtos" asp-action="Details" method="get">
                                <input type="hidden" name="id" value="@produto.ID" />
                                <button type="submit" class="bg-white border-0 nav-link text-start text-dark">
                                    @((produto.Name.Length > 30) ? produto.Name.Substring(0, 30) + "..." : produto.Name)
                                </button>
                            </form>
                            
                        </div>

                        <form asp-controller="Produtos" asp-action="Details" method="get">
                            <input type="hidden" name="id" value="@produto.ID" />
                            <button type="submit" class="bg-white border-0 nav-link text-start ms-3 h6 text-dark">
                                @produto.Price.ToString("C2")
                            </button>
                        </form>
                        @* Mostrar o items favorites do usuário atual *@
                        <a class="position-absolute bottom-0 end-0 p-3 text-danger">
                            @{
                                bool isFavorite = false;
                                if (ViewBag.Favorites != null)
                                {
                                    foreach (var favorite in ViewBag.Favorites)
                                    {
                                        if (favorite.ProductId == produto.ID)
                                        {
                                            isFavorite = true;
                                            break;
                                        }
                                    }
                                }
                            }
                            @if (isFavorite)
                            {
                                <form asp-area="Produtos" asp-controller="Produtos" asp-action="RemoveToFavorites1" method="post" style="display: inline-block;">
                                    <input type="hidden" name="productId" value="@produto.ID" />
                                    <button type="submit" style="background: none; border: none;">
                                        <i class="bi bi-heart-fill" id="filledHeartIcon" style="display: inline; color: red;"></i>
                                    </button>
                                </form>                               
                            }
                            else
                            {
                                <form asp-area="Produtos" asp-controller="Produtos" asp-action="AddToFavorites1" method="post" style="display: inline-block;">
                                    <input type="hidden" name="productId" value="@produto.ID" />
                                    <button type="submit" style="background: none; border: none;">
                                        <i class="bi bi-heart" id="emptyHeartIcon" style="display: inline;"></i>
                                    </button>
                                </form>
                            }
                        </a>
                    </div>
                </div> 
             } 
         </div>
    </div>

@*Páginação da page
 *@    <div class="row mt-4 mt-5">
        <div class="col d-flex justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
        Display = PagedListDisplayMode.IfNeeded,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        LinkToFirstPageFormat = "««",
        LinkToPreviousPageFormat = "«",
        LinkToNextPageFormat = "»",
        LinkToLastPageFormat = "»»",
        MaximumPageNumbersToDisplay = 2,
        })
        </div>
    </div>
}
else
{
    <div class="text-center mt-5">
        <h1 class="display-4">A loja está temporariamente sem produtos. Por favor, volte em breve.</h1>
    </div>
}


