@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@if (Model != null && Model.Any())
{
    <div class="container mt-5 mb-5">
        @if (TempData["MessageSuccess"] != null)
        {
            <div class="alert alert-light text-success border-success rounded mt-5" role="alert">
                @TempData["MessageSuccess"]
            </div>
        }
        @if (TempData["MessageError"] != null)
        {
            <div class="alert alert-light text-danger border border-danger rounded mt-5" role="alert">
                @TempData["MessageError"]
            </div>
        }
        <h1 class="text-center pb-5">Privilégios gerais</h1>
        <div class="table-responsive">
            <table class="MyDataTables table table-white table-hover mt-5">
                <thead>
                    <tr>
                        <th scope="col">Privilégio</th>
                        <th scope="col"></th>
                        <th scope="col"></th>                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>                          
                            <td>
                                <a asp-controller="AdminRole" asp-action="UsersOfRole" asp-route-id="@role.Id" class="btn  btn-info m-2">Usuários presentes</a>
                            </td>
                            <td>
                                <a asp-controller="AdminRole" asp-action="Delete" asp-route-id="@role.Id" class="btn  btn-danger m-2">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-controller="Admin" asp-action="Index" class="btn  btn-primary mt-3 mx-2 ">Voltar</a>
        <a class="btn  btn-success mt-3 mx-2" asp-controller="AdminRole" asp-action="Create"> Criar novo privilégio</a>
    </div>
}
else
{
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <h1 class="pt-5 text-center">Não há privilégios na aplicação.</h1>
    <meta http-equiv="refresh" content="4;url=/Admin">  
}
